SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_TABLE=
SUPABASE_SELECT=*
SUPABASE_ID_COLUMN=id

NOTION_TOKEN=
NOTION_DATABASE_ID=
NOTION_KEY_PROPERTY=Name
NOTION_KEY_PROPERTY_TYPE=title
NOTION_TITLE_PROPERTY=Name
NOTION_PAYLOAD_PROPERTY=Payload
